/* Import Typefaces */

/*Archivo*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');;



/* Global Overrides */

html {
    box-sizing: border-box;
}

*,
*:before;
*:after;

    {
    box-sizing: inherit;
}

/* Global Styles */

body {
    text-align: left;
    padding: 0;
    margin: 0;
    /*    transition: 0.5s;*/
    /*    background-color: #294F59;*/
    /*    cursor: crosshair;*/
    background-color: #e0e0e0;
    user-select: none;
    font-family: 'Archivo', sans-serif;
    color: #000000;
}

/* Prevent image dragging */
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: #000000;
}


/*//////////////////////////////////////*/

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**/

/**/

/**/

/**/

/**/

/* MAIN STYLES ///////////////////////////////////////////////// */

/*Header*/
header,
.project_description,
.project_about,
footer,
.project_video {
    width:  80%;
    left:  50%;
    margin-left:  -40%;
    text-align: left;
    height:  auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*border: 5px solid red;*/
}

.project_description h2, p {
    width:  100%;
    left: 0%;
    text-transform: lowercase;
}

.project_about .project_section p {
    text-transform: none;
}

.project_description p {
    margin-top:  -15px;
    padding-bottom:  20px;
}

.project_section {
    width:  100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    /*border: 5px solid red;*/
}

.project_about h3 {
    width:  20%;
    left: 0%;
    align-self: flex-start;
    /*border: 5px solid red;*/
    display: block;
}

.project_about p {
    width:  80%;
    right: 0%;
    align-self: flex-start;
    display: block;
}

.project_section p a {
    text-decoration: underline;
}


/* CV ///////////////////////////////////////////////// */
.cv_text {
    width:  100%;
    /*border: 5px solid red;*/
    /*line-height: 12px;*/
}

table {
    width:  100%;
}

tr {
    height:  35px;
}

td {
    vertical-align: top;
}

.cv_text_year {
    width:  90px;
    display: inline-block;
    /*border: 1px solid red;*/
}

.cv_text_details {
    width:  80%;
    margin-left:  15px;
    display: inline-block;
    /*border: 1px solid red;*/
}


/* FOOTER ///////////////////////////////////////////////// */
footer {
    margin-top: 100px;
    text-align: center;
    font-size: 0.8em;
    width:  100%;
    left:  50%;
    margin-left:  -50%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.05);
}


/* BACK BUTTON ///////////////////////////////////////////////// */
.back_button {
    position: fixed;
    right:  20px;
    top:  20px;
    height:  90px;
    width:  90px;
    z-index: 10;
    /*border: 5px solid red;*/
    background-image: url('assets/navigation.png');
    background-size: contain;
}

.back_text {
    left:  0%;
    bottom:  0%;
    height:  100px;
    margin-top: 100px;
    transition: 0.3s;
    font-size: 1.2em;
    text-align: center;
    opacity: 0;
}

.back_button:hover .back_text {
    opacity: 1;
}


/* ABOUT ///////////////////////////////////////////////// */
#about_image {
    position: initial;
    width: 45%;
    height: 75%;
    z-index: -5;
    opacity: 0.95;
}

#about_image img {
    width:  100%;
}

#about_txt {
    position: relative;
    width: 50%;
    height: 85%;
    margin-left: 5%;
    font-size: 1.2em;
}

#about_txt p {
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.5em;
}



/* IMAGE SLIDER ///////////////////////////////////////////////// */
      .mySlides {
        display: none;
      }

      img {
        vertical-align: middle;
      }

      .slideshow-container {
        width: 80%;
        position: relative;
        margin: auto;
        /*border: 5px solid red;*/
      }

      /* Next & previous buttons */
      .prev,
      .next {
        cursor: hand;
        position: absolute;

        top: 50%;
        width: 25px;
        height:  10%;
        padding: 16px;
        margin-top: -5%;

        color: white;
        font-weight: bold;
        font-size: 55px;
        text-shadow: 0 0 5px #000000;
        transition: 0.6s ease;
        /*border-radius: 0 3px 3px 0;*/

        user-select: none;
        /*border: 5px solid red;*/
    }

    .prev p,
      .next p {
        top: 50%;
        margin-top: -10px;
      }

      /* Position the "prev button" to the left */
      .prev {
        left: 0%;
        /*border-radius: 3px 0 0 3px;*/
      }

      /* Position the "next button" to the right */
      .next {
        right: 0%;
        /*border-radius: 3px 0 0 3px;*/
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }

      /* Caption text */
      .text {
        color: #ffffff;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }

      /* Dots*/
      .dot_container {
        text-align: center;
        position: absolute;
        bottom:  1%;
        width:  50%;
        left:  50%;
        margin-left:  -25%;
        transition: 0.5s;
      }

    .dot_container:hover .dot {
        height: 30px;
        width: 30px;
        transition: 0.5s;
      }

      .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #999999;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.5s ease;
      }

      .dot:hover {
        margin-bottom: 10px;
      }

      .active,
      .dot:hover {
        background-color: #111111;
      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }


/**/

/**/

/**/

/**/

/**/


/* HOMEPAGE ///////////////////////////////////////////////// */

/*Note:  Aug. 30th 2022: Homepage currently does not link to new.css*/

/*#p5_loading {
    color: #e0e0e0;
}*/


/**/

/**/

/**/

/**/

/**/


/* ///////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/*Tablet*/
@media screen and (max-width: 1024px) {
    /*Page Margins*/
    header,
    .project_description,
    .project_about, {
        width:  90%;
        left:  50%;
        margin-left:  -45%;
        text-align: left;
        height:  auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

  .slideshow-container {
        width: 90%;
        position: relative;
        margin: auto;
        /*border: 5px solid red;*/
      }

}


/*Mobile*/
@media screen and (max-width: 760px) {

    /*Image Slider*/
    .dot_container {
        display:  none;
    }

    /* Next & previous buttons */
  .prev,
  .next {
        top: 0px;
        width: 20px;
        height:  100%;
        padding: 0px 20px 0px 20px;
        margin-top: 0px;
        vertical-align: middle;
    }

    .prev p,
      .next p {
        margin-top: 100px;
      }

    /*Project Description Flex*/
    .project_section {
        width:  100%;
        display: flex;
        flex-wrap: wrap;
    }

    .project_about h3 {
        width:  100%;
        left: 0%;
    }

    .project_about p {
        width:  100%;
        right: 0%;
    }

    .cv_text {
        width:  100%;
    }

    .cv_text_details {
        width:  60%;
        margin-left:  15px;
    }

    /*Back button*/
    .back_button {
        right:  15px;
        top:  15px;
        height:  75px;
        width:  75px;
    }

    .back_text {
        left:  0%;
        bottom:  0%;
        height:  100px;
        margin-top: 80px;
        font-size: 1em;
    }

    /*About*/
    #about_image {
        position: initial;
        width: 100%;
        height: 50%;
        z-index: -5;
        opacity: 0.95;
    }

    #about_image img {
        width:  100%;
    }

    #about_txt {
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 5%;
        font-size: 1.2em;
    }
}
