/* Cabin Font */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/* Colors */
/* Dark Blue: #16455e */
/* Light Blue: #4988c7 */
/* White: #edf4fa */
/* Black: #162225 */


/*====GLOBAL OVERRIDES======================================*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*====MAIN STYLES======================================*/

body {
    text-align: left;
    margin: 0;
    background-color: #16455e;
    color: #edf4fa;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
	color: #edf4fa;
	user-select: none;
}

a {
	color: #edf4fa;
	text-transform: none;
	text-decoration: none;
}

::selection {
    color: #edf4fa;
    background: #12374b;
}



/*====TITLE AND NAV======================================*/

/* Title */
.title_banner {
	background-color: none;
	display: flex;
	flex-direction: row;
    justify-content: center;
    user-select: none;
    background-image: url("img/nobody_title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 70px;
    background-size: cover;
    width: 310px;
    height: 70px;
    left: 50%;
    margin-left: -155px;
    margin-top: 5%;
    position: relative;
    top: 0;
    padding: 20px;
}

/* Navigation */
nav {
    background-color: none;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_button {
    padding: 5px 20px 5px 20px;
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

nav a {
    color: #edf4fa;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1875em;
    padding: 1.25em 1.25em;
    text-shadow: none;
    text-transform: uppercase;
}

nav a:hover {
    letter-spacing: 0.25em;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 800;
    background-color: #12374b;
}

/*====ABOUT / HOME PAGE======================================*/
.mainpage_content {
    width:  100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3%;
    padding-bottom: 3%;
}

.about {
	padding: 0px 50px 0px 50px;
}

.about p {
	font-size: 18px;
	line-height: 28px;
}

.about_first_paragraph {
    font-size: 1.25em;
    line-height: 1.25em;
}

.about_photo {
    padding: 0px 30px 0px 50px;
    width:  100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.about_photo img {
    width:  100%;
    padding:  10px;
    height:  auto;
}




/*====BIBLIOGRAPHY===================================*/
#bibliography {
	padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bib_entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top:  20px;
}

.citation {
    width:  65%;
}

.citation_image {
    width:  450px;
    height:  350px;
    margin-right: 3%;
    border:  1px solid white;
}


#bibliography h3 {
	font-weight: 600;
}

#bibliography h4 {
	font-weight: 400;
	font-size: 1.5em;
}

#bibliography p {
	margin-left: 5%;
	width: 95%;
}

#bibliography a {
	text-decoration: underline;
}

.spacer {
	height: 35px;
	background-color: none;
}


/*====AR BACK BUTTON======================================*/

#nav_ar {
    position: fixed;
    left:  0%;
    bottom:  0;
    width:  15%;
    min-width: 225px;
    max-width:  280px;
    height:  10%;
    min-height:  100px;

    background-color: #16455e;
    color: #edf4fa;
    font-family: 'Cabin', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3.5%;
    margin-bottom: 3%;

    border:  5px double #edf4fa;
    border-radius:  15px;

    z-index: 110;
    opacity:  0.75;

    animation-name: appear;
    animation-delay: 6000ms;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}

  @keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.75;
  }
}

#nav_ar .nav_button {
    padding: 1% 3% 3% 3%;
}

#nav_ar a {
    font-weight: 800;
    font-size: 1em;
}

#nav_ar a h2 {
    text-align: center;
}

#nav_ar:hover {
    opacity:  1;
}

/*====AR LOADING SCREEN====================================*/
  
  .arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #16455e;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    animation-name: disappear;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
  }
  
  .arjs-loader div p {
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: 'Cabin', sans-serif;
    user-select: none;
  }
  
  @keyframes disappear{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    display: none;
  }
}




/*====MEDIA QUERIES====================================*/


@media only screen and (min-width: 1200px) {
    .mainpage_content {
        flex-direction: row-reverse;
        justify-content: center;
        /*background-color: red;    */
    }
    .about {
        width: 35%;
    }
    .about_first_paragraph {
        font-size: 1.25em;
        line-height: 1.25em;
    }
    .about_wide {
        width:  80%;
        padding-top: 4%;
        padding-bottom:  4%;
    }
    .about_photo {
        width:  50%;
    }
    #bibliography {
        position: relative;
        width:  80%;
        margin-left:  -40%;
        left: 50%;
    }
}

@media only screen and (min-width: 1000px) {
  #nav_ar {
    width:  15%;
    min-width: 225px;
    max-width:  400px;
    height:  6%;
    min-height:  100px;
    font-size: 1em;
    border-width:  5px;
    border-radius:  15px;
    }
}

@media only screen and (max-width: 1000px) {
    /*Title*/
    .title_banner {
        width: 80%;
        height: 200px;
        left: 50%;
        margin-left: -40%;
        margin-top: 10%;
    }

    /*Navigation*/
    nav {
    flex-direction: column;
    }
    
    .nav_button {
    padding: 1em 1em 1em 1em;
    width: 100%;
    }
    
    nav a {
    font-weight: 800;
    font-size: 1.5em;
    line-height: 0.05em;
    width: 100%;
    }
    
    /*About and Bibliography*/
    .about {
    width: 100%;
    }
  
  .about p {
    font-size: 1.5em;
    line-height: 1.75em;
    }

    .about_first_paragraph {
    font-size: 1.5em;
    line-height: 1.75em;
    }
  
  #bibliography h3 {
    font-size: 1.5em;
    }
    
  #bibliography h4 {
    font-size: 1.75em;
    line-height: auto;
    }

    .bib_entry {
    flex-direction: column;
    }

    .citation {
        width:  100%;
    }

    .citation_image {
    display: none;
    }

    #bibliography a {
    hyphens: auto;
    }

    /*AR Back Button*/
    #nav_ar {
    width:  60%;
    min-width: 300px;
    max-width:  800px;
    height:  10%;
    min-height:  250px;
    max-height:  350px;

    border-width:  10px;
    border-radius:  35px;
    font-size: 3.25em;
    font-weight: 900;
    }

    #nav_ar .nav_button {
        padding: 2%;
    }
}

